* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media screen and (max-width: 475px) {
    b {
        display: block;
    }
}

::selection {
    color: white;
    background-color: #9F0D0C;
}

body {
    font-size: 1.3em;
    background-color: rgb(61, 6, 6);
    overflow-x: hidden;
}

section {
    width: 90%;
    max-width: 750px;
}

#red {
    background-color:#9F0D0C;
    width: 10000px;
    height: 70px;
}

#fake {
    color: #ffa875;
    background-color: rgba(0, 0, 0, 0);
}

a {
    color: white;
}

/* ======= CABEÇALHO ======= */
header {
    background-color: #9F0D0C;
    color: white;
    text-align: center;
    padding: 10px 0px 10px 0px;
    width: 10000px;
}

.header {
    height: 70px;
}

#instagram {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: red;
    border: none;
    margin: 10px 0px;
    width: 200px;
    padding: 10px;
    position: relative;
    left: 820px;
}

#instagram:hover {
    cursor: pointer;
    border: solid 1px white;
    background-color: rgb(105, 12, 12);
}

#click-instagram {
    text-decoration: none;
}

/* ======= SECTION 1 ======= */
#sec1 {
    margin: 30px auto 0px auto;
    max-width: 2000px;
}

#sec2 {
    margin: 30px auto 0px auto;
    max-width: 2000px;
    max-height: 500px;
}

#sec6 {
    margin: 30px auto 0px auto;
    max-width: 2000px;
    max-height: 600px;
}

#sec7 {
    margin: 30px auto 30px auto;
    max-width: 2000px;
    max-height: 400px;
}

#p1 {
    margin-top: 20px;
    color:white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#h21 {
    color:white;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 55px;
    margin-bottom: 40px;
    margin-left: 640px;
}

/* ======= SECTION 2 ======= */
#h22 {
    color: white;
}

#secimg {
    width: fit-content;
    margin: auto;
}

#fake-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 1770px;
}


#fake-icon1 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 350px;
}

#fake-icon2 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 2315px;
}

#fake-icon3 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 3000px;
}

#fake-icon4 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 3620px;
}

#img2, #img3, #img6{
    vertical-align: top;
    display: inline-block;
}

.img2-3 {
    margin-top: 15px;
    width: 2000px;
    margin-left: 160px;
}

#img1 {
    max-width: 700px;
    max-height: 350px;
    margin-left: 640px;
}

#img2 {
    max-width: 450px;
    width: 100%;
    margin: 10px;
    margin-right: 10px;
}

#img3 {
    max-width: 550px;
    width: 100%;
    margin: 10px;
    margin-right: 10px;
}

#img6 {
    max-width: 500px;
    width: 100%;
    margin: 10px;
    margin-right: 10px;
    margin-left: 90px;
}



/* ======= SECTION 3 ======= */
#sec3 {
    margin: 30px auto 0px auto;
    max-width: 2000px;
}

#img5 {
    width: 100%;
    max-height: 350px;
    margin-top: 20px;
}

#fonte {
    color: white;
    font-size: 14px;
    margin-left: 685px;
    width: 500px;
    margin-bottom: 40px;
}

/* ======= SECTION 4 ======= */
#consequencia {
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;   
    width: 700px;
    margin-left: 585px;
    margin-top: 50px;
}

#text-consequencia {
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px; 
    margin-left: 540px;
    margin-top: 30px;
    width: 800px;
    line-height: 25px;
}

#text-consequencia2 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px; 
    margin-left: 440px;
    margin-top: 30px;
    width: 1000px;
    line-height: 25px;
}

/* ======= SECTION 4 ======= */
#text-news {
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px; 
    margin-left: 540px;
    margin-top: 30px;
    width: 800px;
    line-height: 25px;
}

#text-news2 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px; 
    margin-left: 440px;
    margin-top: 10px;
    width: 1000px;
    line-height: 25px;
    margin-bottom: 30px;
}

#red2 {
    width: 15000px;
    background-color: red;
    height: 70px;
}

/* ======= FOOTER ======= */
footer {
    background-color: #9F0D0C;
    color: white;
    height: 70px;
    width: 10000px;
    height: 70px;
    margin-top: -30px;
}